@font-face {
    font-family: highcruiser;
    src: url(./Fuentes/HighCruiser-PersonalUseOnly.otf);
    font-size: 100px;
}


*  {
    margin: 0;
    padding: 0;
    font-family: highcruiser;
    box-sizing: border-box;   
}

header{
    height: 15px;
}

marquee{
    background-color: red;
}

main{
    background-color: black;
    color: white;
    width: auto;
    height: 30px;
    font-family: highcruiser;
    font-size: 40px;
    text-transform: capitalize;
    padding: 60px;
    display: flex;
    justify-content: space-between;
}

img{
    padding: auto;
}

.logo{
    width: auto;
    height: 60px;
    text-align: start;
    background-color: black;
}


.barra{
    text-align: center;
    word-spacing: 20px;
}

.barra a{
    text-decoration: none;
    background-color: black;
    color: white;
   
    
}

.barra li{
    list-style: none;
    display: inline-block;
    text-decoration: none;
}

.barra a:hover{
    color: red;
}

.barra2{
    text-align: right;
    display: inline-block;
}


aside{
    width: auto;
    height: 1750px;
    background-color: black;
}

.fotos{
    width: 400px;
    height: 400px;
    display: flex;
    }

.fotos1{
    width: 100vh;
    height: 100vh;
    background-color: red;
    border: white 2px solid;
}

.fotos2{
    width: 100vh;
    height: 100vh;
    background-color: black;
    border: white 2px solid;
}

.fotos-img{
    width: 100vh;
    height: 100vh;
    background-image: url(./img/fashion-show-gcac6efa1f_1280.jpg);
    background-position: cover;
}

.fotos-img3{
    width: 100vh;
    height: 100vh;
    background-image: url(./img/colecciones1.jpg);
    background-position: cover;
}

.fotos-img4{
    width: 100vh;
    height: 100vh;
    background-image: url(./img/colecciones2.jpg);
    background-position: cover;
}

video{
    width: 100vh;
    height: 100vh;
}

footer{
    background-color: white;
        text-align: center;
        font-size: 30px;
        padding: 20px;
        font-family: verdana;
        text-transform: capitalize;
        background-color: red;
        font-weight: bold;
}

.redes i{
    display: inline-block;
    font-size: 50px;
    margin-bottom: 14px;
    letter-spacing: 20px;
    color: black
}

.redes i:hover{
    color: white;
}

.titulo{
    font-size: 50px;
    color: white;
}



h2{
    color: white;
    font-weight: bold;
    text-align: center;
}

h3{
    color: white;
    font-weight: bold;
    text-align: center;
    
}

.desc{
    width: auto;
    color: white;
    text-align: center;
}

.desc2{
    width: auto;
    color: white;
    text-align: center;
}

.nosostros{
    width: auto;
    height: 100%;
}

.nosotros1{
    width: 100%;
    height: 70vh;
    background-color: red;
    border: white 2px solid;
}

.nosotros-img{
    width: 100%;
    height: 70vh;
    background-image: url(./img/nosotrxs.jpg);
    background-position: center;
}

h4{
    color: white;
    margin-bottom: 50px;
    font-size: 65px;
    text-align: center;
}

.nosotros-desc{
    color: red;
    text-align: center;
}

.perfil{
    width: auto;
    height: 1570px;
}


.perfil1{
    width: 400px;
    height: 400px;
    background-color: red;
    float: right;
    border: 2px solid white;
    margin-right: 22px;
}

.perfil2{
    width: 400px;
    height: 400px;
    background-color: red;
    border: 2px solid white;
    margin-top: 80px;
    
}
.perfil-img{
    width: auto;
    height: 100%;
    background-image: url(./img/florencia.JPG);
    background-size: cover;
}

.perfil-img2{
    width: 100%;
    height: 100%;
    background-image: url(./img/luciano.jpg);
    background-size: cover;
}


.nosotros-desc2{
    font-size: 20px;
    color: red;
    text-align: center;

}
.nosotros-desc3{

    font-size: 20px;
    color: red;
    text-align: left;

}

.perfil-luchi{
    text-align: center;
    color: white;
    font-size: 40px;
}

.perfil-flo{
    text-align: center;
    color: white;
    font-size: 40px;
}

iframe{

    width: 300px;
    height: 300px;
    float: right;
    margin: 175px 20px 20px;
}

.nosotrxs{
    height: 100%;
}

.contacto{
    text-align: left;
}